<a href="https://colab.research.google.com/github/jeevan97achar/pandas/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Pandas Library

Why pandas?
* Flexibity of python
* Working with big data

## Loading data into Pandas

In [7]:
import pandas as pd

In [8]:
# Loading the dataset

df = pd.read_csv('pokemon_dataset.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

Different file formats can be loaded like,
* pd.read_xlsx('*fileName*')
* pd.read_csv('*fileName*', delimeter='*delimeter*')

In [9]:
# To see just the top 5 (default number) rows

# You can pass an integer inside the method to vary the number of attributes
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
# To see just the bottom 5 (default number) rows

df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading Data in Pandas

In [11]:
# Read Headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [12]:
# Read each column

df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [13]:
# Alternative
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [14]:
# To fetch attributes based on indexing
df['Name'][0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [15]:
# Passing a list to select multiple attributes
df[['Name', 'Type 1', 'Speed']]

                      Name   Type 1  Speed
0                Bulbasaur    Grass     45
1                  Ivysaur    Grass     60
2                 Venusaur    Grass     80
3    VenusaurMega Venusaur    Grass     80
4               Charmander     Fire     65
..                     ...      ...    ...
795                Diancie     Rock     50
796    DiancieMega Diancie     Rock    110
797    HoopaHoopa Confined  Psychic     70
798     HoopaHoopa Unbound  Psychic     80
799              Volcanion     Fire     70

[800 rows x 3 columns]

In [16]:
# Printing each row

df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [17]:
# To query multiple rows

df.iloc[1:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [18]:
# Read a specific Location iloc(R,C)

df.iloc[3,1]

'VenusaurMega Venusaur'

In [ ]:
for index, row in df.iterrows():
  print(index, row['Name'])

In [ ]:
# Getting specific location with a condition
df.loc[df['Type 1'] == "Fire"]

## Sorting/Describing Data

In [28]:
df.sort_values(['Name'], ascending = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [34]:
df.sort_values(['Type 1','HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making Changes to the Data

In [37]:
# Adding a new column
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [39]:
# Deleting a column

df = df.drop(columns=['Total'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [40]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [42]:
# Moving the column positions

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

## Saving our dataframe

In [ ]:
df.to_csv('Modified.csv', index=False)
df.to_excel('Modified.xlsx', index=False)
df.to_csv('Modified.txt', index=False, sep='\t')

## Filtering Data

In [48]:
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [52]:
# To reset the index in the new dataset
new_df = new_df.reset_index()
new_df

# To drop the original index
new_df = new_df.reset_index(drop=True)
new_df

,level_0,index,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
1,1,3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
2,2,50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
3,3,77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
4,4,652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [54]:
# To filter based on the string values of the attributes

df.loc[df['Name'].str.contains('Mega')]

# To get the inverse
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

In [ ]:
# To filter using regex

import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

# Here above flags=re.I ignores the case sensitivity

In [ ]:
# To get all the names starting from the letters 'pi'

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

# Here in the regex condition "^" is used to say that the name should begin with 'pi'
# "*" symbol means to say zero or more

## Conditional Changes

In [59]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
# df.loc[df['Type 1'] == 'Fire']
df

# In the above code 
# df.loc[<where to make the change>, <label of the column to be changed>] = '<New variable>'

# Lists can be passed to change multiple columns at once

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type1
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1,NaN
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1,NaN
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1,NaN
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1,Flamer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6,NaN
796,719,DiancieMega Diancie,Rock,Fairy,True,700,50,160,110,160,110,110,6,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6,NaN
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6,Flamer

## Aggregate Statistics (Groupby)

In [65]:
df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,
Dragon,474.375000,0.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Normal,319.173469,0.020408,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Fairy,449.529412,0.058824,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Ground,356.281250,0.125000,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Water,303.089286,0.035714,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ice,423.541667,0.083333,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Flying,677.750000,0.500000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Psychic,380.807018,0.245614,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Fire,327.403846,0.096154,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Fighting,363.851852,0.000000,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Grass,344.871429,0.042857,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Poison,251.785714,0.000000,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Dark,461.354839,0.064516,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Rock,392.727273,0.090909,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,0.148148,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Ghost,486.500000,0.062500,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Electric,363.500000,0.090909,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Bug,334.492754,0.000000,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391

In [ ]:
df.groupby(['Type 1']).sum()

In [67]:
df.groupby(['Type 1']).count()

,#,Name,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type1
Type 1,,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69,0
Dark,31,31,21,31,31,31,31,31,31,31,31,31,0
Dragon,32,32,21,32,32,32,32,32,32,32,32,32,0
Electric,44,44,17,44,44,44,44,44,44,44,44,44,0
Fairy,17,17,2,17,17,17,17,17,17,17,17,17,0
Fighting,27,27,7,27,27,27,27,27,27,27,27,27,0
Fire,52,52,24,52,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4,0
Ghost,32,32,22,32,32,32,32,32,32,32,32,32,0
Grass,70,70,37,70,70,70,70,70,70,70,70,70,0
Ground,32,32,19,32,32,32,32,32,32,32,32,32,0
Ice,24,24,11,24,24,24,24,24,24,24,24,24,0
Normal,98,98,37,98,98,98,98,98,98,98,98,98,0
Poison,28,28,13,28,28,28,28,28,28,28,28,28,0
Psychic,57,57,19,57,57,57,57,57,57,57,57,57,0
Rock,44,44,35,44,44,44,44,44,44,44,44,44,0
Steel,27,27,22,27,27,27,27,27,27,27,27,27,0
Water,112,112,53,112,112,112,112,112,112,112,112,112,0

In [68]:
df['Count'] = 1

In [70]:
df.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

## Working with large amounts of data

In [ ]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
  results = df.groupby(['Type 1']).count()

  new_df = pd.concat([new_df, results])